.title {
  margin-top: 0;
  text-align: center;
}

.about {
  max-width: 500px;
  margin: auto;
  text-align: center;
}

.subtitle {
  text-align: center;
}

.story {
  max-width: 800px;
  margin: auto;
  text-align: center;
}
