.title {
  margin-top: 0;
  text-align: center;
}

.about {
  width: 60%;
  margin: auto;
  text-align: center;
}

.subtitle {
  text-align: center;
}

.story {
  width: 80%;
  margin: auto;
  text-align: center;
}
