@use "styles/variables.scss" as *;

.loader > path {
  fill: $button-primary-text;
}

.primary {
  &__default {
    background-color: $button-primary-bg;
    color: $button-primary-text;
    border: none;
    cursor: pointer;
    border-radius: 10px;
  }

  &__simple {
    padding: 17px 20px;
  }

  &__loading {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 8px;
    padding: 14px 20px;
  }

  &__simple:hover {
    background-color: $button-primary-bg-hover;
    color: $button-primary-text-hover;
  }

  &__simple:active {
    background-color: $button-primary-bg-active;
    color: $button-primary-text-active;
  }

  &__simple:disabled {
    background-color: $button-primary-bg-disabled;
    color: $button-primary-text-disabled;
  }

  &__disabled {
    background-color: $button-primary-bg-disabled;
    color: $button-primary-text-disabled;
  }
}
