.default {
  font-family: "Roboto";
  font-weight: inherit;
  font-size: inherit;
  line-height: inherit;
  color: inherit;
}

.view {
  &_button {
    font-weight: 400;
    font-size: 18px;
    line-height: 18px;
  }

  &_title {
    font-weight: 700;
    font-size: 44px;
    line-height: 48px;
  }

  &_subtitle {
    font-weight: 700;
    font-size: 32px;
    line-height: 32px;
  }

  &_p-20 {
    font-weight: 400;
    font-size: 20px;
    line-height: 24px;
  }

  &_p-18 {
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
  }

  &_p-16 {
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
  }

  &_p-14 {
    font-weight: 400;
    font-size: 14px;
    line-height: 18px;
  }
}

.weight {
  &_normal {
    font-weight: var(--text-weight-normal);
  }

  &_medium {
    font-weight: var(--text-weight-medium);
  }

  &_bold {
    font-weight: var(--text-weight-bold);
  }
}

.color {
  &_primary {
    color: var(--text-primary);
  }

  &_secondary {
    color: var(--text-secondary);
  }

  &_accent {
    color: var(--text-accent);
  }
}

.lines {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  overflow: hidden;
}
