@use "styles/mixins.scss" as *;

.header {
  position: sticky;
  top: 0;
  z-index: 100;
  background-color: #ffffff;
}

.up {
  border: 2px solid #f3f3f3;
}

.down {
  display: flex;
  justify-content: space-between;
  width: 100%;
  background-color: inherit;
  position: absolute;
  z-index: 100;
  padding: 12px;
}

.inner {
  display: grid;
  @include respond-to(mobile) {
    grid-template-columns: 1fr auto;
  }

  @include respond-to(tablet) {
    grid-template-columns: 1fr auto 1fr;
  }
}

.logo {
  padding: 12px 0px;
  display: flex;
  align-items: center;
}
