.list {
  &__title {
    display: flex;
    align-items: center;
    gap: 24px;
    margin-bottom: 35px;
  }

  &__loader {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  &__items {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 80px;
  }

  &__item {
    text-decoration: none;
  }

  &__paginator {
    display: flex;
    justify-content: center;
    margin-top: 70px;
  }
}
