@use "styles/variables" as *;

@keyframes shimmer {
  0% {
    background-position: -200% 0;
  }
  100% {
    background-position: 200% 0;
  }
}

@mixin skelet_background() {
  background: linear-gradient(90deg, #d9d9d9 0%, #ababab 55%, #ababab 70%, #d9d9d9 100%);
  background-size: 200% 100%;
  animation: shimmer 1.5s infinite ease;
  border-radius: 3px;
}

.skeleton {
  background-color: $card-bg;
  display: flex;
  flex-direction: column;
}

.img {
  width: 100%;
  aspect-ratio: 1/1;
  @include skelet_background;
}

.content {
  flex-grow: 1;
  padding: 24px 12px;
}

.caption {
  height: 18px;
  margin-bottom: 8px;
  @include skelet_background;
}

.title {
  height: 43px;
  margin-bottom: 12px;
  @include skelet_background;
}

.desc {
  display: flex;
  flex-direction: column;
  gap: 8px;
  margin-bottom: 34px;
  & div {
    height: 14px;
    @include skelet_background;
  }
}

.action {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 20%;
}

.slot {
  height: 14px;
  flex-grow: 1;
  @include skelet_background;
}

.btn {
  height: 52px;
  flex-grow: 2;
  @include skelet_background;
}
