@use "styles/mixins.scss" as *;

:global(.container) {
  margin: auto;

  @include respond-to(mobile) {
    padding: 0 2%;
  }

  @include respond-to(tablet) {
    padding: 0 3%;
  }

  @include respond-to(desktop) {
    padding: 0 6%;
  }
}

:global(.main) {
  background-color: #fafafa;

  @include respond-to(mobile) {
    padding: 50px 0;
  }

  @include respond-to(tablet) {
    padding: 75px 0;
  }

  @include respond-to(desktop) {
    padding: 100px 0;
  }
}
