@use "styles/mixins.scss" as *;

.search {
  margin-bottom: 48px;

  &__form {
    display: flex;
    gap: 24px;
    margin-bottom: 24px;

    &__input {
      flex-grow: 1;
    }
  }

  &__filter {
    @include respond-to(mobile) {
      width: 100%;
    }

    @include respond-to(tablet) {
      width: 50%;
    }

    @include respond-to(desktop) {
      width: 25%;
    }
  }
}
