@use "styles/mixins.scss" as *;

.intro {
  margin: auto;
  margin-bottom: 58px;

  @include respond-to(mobile) {
    width: 90%;
  }

  @include respond-to(tablet) {
    width: 70%;
  }

  @include respond-to(desktop) {
    width: 50%;
  }

  &__title {
    margin-bottom: 24px;
    text-align: center;
  }

  &__description {
    text-align: center;
  }
}
